<h1>Welcome to Blog-It About page!</h1>
<%= link_to "Blogs", articles_path %> <%= link_to "Back", root_path %>
<iframe src="https://localhost:8888/notebooks/Desktop/jupyterNotebook/jupyter2.ipynb" width="100%", height="800" scrolling="no"></iframe>
