<h1>Welcome to Blog-It About page!</h1>
<%= link_to "Blogs", articles_path %> <%= link_to "Back", root_path %>
  <iframe src="https://0.0.0.0:8888/notebooks/jupyter3.ipynb" width="100%", height="800" scrolling="yes"></iframe>
