<h1>Welcome to Blog-It About page!</h1>
<%= link_to "Blogs", articles_path %> <%= link_to "Back", root_path %>
<iframe src="http://nbviewer.jupyter.org/gist/q4hmad/37a0d883ad80e0dc055bee73bbce3003" width=100%", height="800" scrolling="yes"></iframe>
