<h1>Welcome to Blog-It About page!</h1>
<%= link_to "Blogs", articles_path %> <%= link_to "Back", root_path %>
<iframe src="https://gist.github.com/q4hmad/37a0d883ad80e0dc055bee73bbce3003" width=50%", height="400" scrolling="no"></iframe>
